@import 'variables.scss';
@import 'menu.scss';
@import 'header.scss';

html, body {
    font-size: 18px;
    color: $color-black;
}

.ant-layout {
    display: block;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
}

.ant-layout-header {
    padding: 0 25px;
    height: auto;
    line-height: 0;
}

.ant-layout-content {
    padding-top: 20px;
}

.app-footer {
    background: #001529;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    color: rgba(255, 255, 255, 0.65);
}

.horizontal-menu {
    @media (max-width: $screen-md) {
       display: none;
    }
}

.drawer-menu {
    @media (min-width: $screen-md) {
        display: none;
     }
}
