@import 'variables.scss';

.app-header {
    font-size: 32px;
    font-style: italic;
    color: $primary-color;
    font-weight: 700;
    border-bottom: 4px solid $primary-color;
    margin-bottom: 12px;
}