@import 'variables.scss';

.project-card {
    &__container {
        max-width: 540px;
        margin: 6px 12px;
        position: relative;
        &:hover {
            .project-card__layer {
                opacity: 1;
            }
        }
    }
    &__image {
       display: block;
       max-width: 100%;
    }
    &__layer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        color: $color-white;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s opacity;
        background: rgba($color-black, 0.7);
    }
    &__title {
        color: $color-white;
        padding: 2px 6px;
        text-align: center;
    }
    &__links-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__link {
        background: $primary-color;
        padding: 8px 24px;
        margin: 3px 8px;
        color: $color-white;
        border-radius: 6px;
        transition: all .4s;
        border: 1px solid $primary-color;
        &:hover {
            color: $primary-color;
            background: $color-white;
        }
    }
    &__technologies-container {
        text-align: center;
        text-transform: uppercase;
    }
    &__tech-stack {
        color: $color-white;
        padding: 2px 12px;
    }
    &__technologies-title {
        color: $color-white;
        margin-bottom: 0;
    }
}