//https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

$color-black: #000000; 
$color-white: #ffffff;

$primary-color: #1890ff; 

//layout
$layout-body-background: $color-white;

//Drawer
$drawer-body-padding: 0;
